.download{
    padding-top: 179px;
    padding-bottom: 114px;

    @media (max-width: 1200px){
        padding-top: 127px;
        padding-bottom: 78px;
    }

    @media (max-width: 768px){
        padding-top: 97px;
        padding-bottom: 45px;
    }

    &-title{
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 25px;

        @media (max-width: 1200px){
            font-size: 24px;
        }

        @media (max-width: 768px){
            font-size: 18px;
            padding-bottom: 18px;
        }
    }

    &-subtitle{
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 50px;

        @media (max-width: 1200px){
            font-size: 14px;
        }

        @media (max-width: 768px){
            font-size: 13px;
            padding-bottom: 13px;
        }
    }
}

.download-button{
    display: block;
    margin: 0 auto;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color:$white;
    background:$red;
    padding: 25px 60px;
    border: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    @media (max-width: 1200px){
        font-size: 18px;
        padding: 25px 53px;
    }

    &:hover{
        background:$hover-red;
    }
}