.features{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 133px;
    width: 100%;

    &__item{
        width: 32%;
    }
}

.features__item{
    padding-top: 120px;
}

.features__item-image{

    &--wrapper{
        width: 100%;
        margin-bottom: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.features__item-title{
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: $title;
    margin-bottom: 44px;
    text-transform: uppercase;
}

.features__item-text{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: $text;
}