$grey: #BABBC5;
$white:#fff;
$red: #FF4343;
$hover-red: #E71414;
$title:#2D3033;
$text:#6C7279;
$icons:#C6CBCD;
$slider: #7E5D6F;
$banner: #5C3249;
$footer-top:#353C65;
$footer-bottom: #2C3154;
$footer-text:#808080;
$header:#252B49;
